.center-text{
	text-align: center;
}

.selected-tile-text{
	text-align: center;
	font-size: 100px;

}

#banner-color{
	background: #bdc3c7;
}
.flat-green{
	background: #2ecc71;
}

.flat-red{
	background: #e74c3c;
}

.flat-blue{
	background: #3498db;
}

.flat-purple{
	background: #9b59b6;
}


div.tile{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	float: left;
}

a.divlink{
	display: block;
	height: 100px;
	width: 100px;

}

#tilebuttonGreen{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonBlue{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonRed{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonPurple{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonGreen1{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonBlue1{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonRed1{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonPurple1{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background: gray;
}

#tilebuttonClicked{
	height: 100px;
	width: 100px;
	border-radius: 20px;
}

button:hover{
	opacity: .85;
}


.hide{
	display: none;
}